.block1{
  background-image: url('assets/backgrounds/h_img.jpg');
}
#table, th, td {
    border-spacing: 3px;
    border-collapse: separate;
    border-collapse: inherit;
    text-align: center;
    table-layout: fixed;
}
@@ -47,16 +47,18 @@ td {
    background: url(../img/c_image.jpg);
}
button {
    background-color: rgba(106, 248, 213, 0.829);
    padding: 16px 55px;
    background-color: rgba(144, 255, 70, 0.623);
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
    font-style: italic;
}
.block3{
    background-image: url('assets/backgrounds/s_image.jpg');
    text-align: center;
}


input {
    background-color: rgba(255, 255, 255, 0.377);
    background-color: rgba(180, 180, 180, 0.377);
    border-radius: 8px;
    border: none;
    outline: none;
@@ -65,22 +67,18 @@ input {
textarea {
    width: 350px;
    height: 200px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.397);
    background-color:  rgba(180, 180, 180, 0.377);
}
.img{
    padding: 10px;
    width: 10px;
    height: 10px;
}
sup {
    size: 1px;
}
.block4showing {
    display: none;
}
.block4bshowing {
    display: none;
}
.block4cshowing {
.block4showing, .block4bshowing, .block4cshowing {
    display: none;
}
.table {
@@ -92,14 +90,17 @@ sup {
}
::placeholder {
    text-align: center;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.61);
    font-style: italic;
    font-family: Georgia, 'fantacy', Times, serif;
}
#work  {
    size: 40px;
}
@media (min-width: 200px) {
    div {
        font-size: 17px;
@media (min-width: 400px) {
    html {
        font-size: 18px;
    }
}
.footer {
    font-family: 'Permanent Marker', cursive;
@@ -108,6 +109,6 @@ sup {
    font-family: 'fantacy', sans-serif;
    font-size: 20px;
}
.design {
.design .development .management {
    font-family: 'Gloria Hallelujah', cursive;
}
